# <b>Credits</b><br>
Notebook based on class notes from CS 232 Peter Toth

**Python** is an interpreted, high-level, general-purpose programming language that lets you work more quickly and integrate your systems more effectively. Created by Guido van Rossum, first released in 1991.

**Jupyter Notebook** is an interactive computing environment that enables users to author notebook documents: live code, plots, descriptive text, equations, images, video, etc.

#### References:
    www.python.org

# Just enough Python to get by - Chapter01

#Basics

#### Hello Dragons!
    print() function
    Write the usual 'Hello World' program:

In [29]:
print("Hello Dragons!")

Hello Dragons!

#### Commenting
    single line comment
    multiline comment
    edit text

In [30]:
# this is a comment, this single line won't get executed
print("Hello Dragons!")

print("Hello Again!")   # this is a comment, nothing gets executed after the # sign

''' this is a multiline comment,
this section
won't be executed
until closing it
print("This is part of a multiline commented section, won't be printed/executed")
'''
print("Hello Again, Dragons!")

Hello Dragons!
Hello Again!
Hello Again, Dragons!

#### Variables
    assign specific values to variable
    print values of variables

In [31]:
# x is a variable, we assign value 2 to x
x = 2

# y is another value, 3 more than x
y = x + 3

# print x and y variables
print(x)
print(y)

# call x and y variables
x
y
type(y)

2
5

int

#### Strings
    string = a sequence of characters
##### Examples:
    abc
    a
    ab*Cd ef4 2g!%xyz
    42

In [32]:
s = "Dragon's lair"
print(s)

Dragon's lair

We still have access to string variable s, let's retrieve its length and type:

In [33]:
print(len(s))
type(s)

13

str

Is space a character? It's a string type!

In [34]:
type(' ')

str

How about 'nothing'?

In [35]:
type('')

str

"42" is also a string. It's a sequence of character 4 and character 2

42 is a number

In [36]:
s = "42"             # or in single quotes: '42'
print(s)
print(type(s))
s = 42
print(s)
print(type(s))

42
<class 'str'>
42
<class 'int'>

Let's mix numbers and strings:

In [37]:
s = "42bc"
print(s)
print(type(s))

42bc
<class 'str'>

#### Integers are whole numbers:
    ... -3, -2, -1, 0, 1, 2, 3, ...

In [38]:
myvar = 42
print(type(myvar))
print(myvar + 2)
print(myvar * 2)
print(myvar - 2)
print(myvar ** 2)
print(myvar % 2)
print(-myvar)

<class 'int'>
44
84
40
1764
0
-42

#### Assignment Operator:
    =       Important!!! Do not mixup with == which stands for equality comparison operator

#### Comparison Operators:
    <       less than               a < b
    >       greater than            a > b
    ==      equal                   a == b
    <=      less than or equal      a <= b
    >=      greater than or equal   a >= b
    !=      not equal               a != b
    is      same object             a is b
    is not  different object        a is not b

In [39]:
x = 2
print(x)

2

In [40]:
2 + 3 == 4

False

In [41]:
3 <= 3

True

#### Mathematical Operators:
    +       addition          a + b
    -       substraction      a - b
    *       multiplication    a * b
    /       division          a / b
    **      exponent          a ** b
    %       modulo            a % b
    //      floor             a // b

#### Logical Operators:
    &       AND               a & b
    |       OR                a | b
    ^       XOR               a ^ b

#### Strings and integers:

    Combine strings  with strings
    Combine strings  with integers
    Combine integers with strings
    Combine integers with integers

Print a literal string and an integer at the same time:

In [42]:
print('x = 2')
x = 2
print('y = 3')
y = 3
print('x + y =', x + y)

x = 2
y = 3
x + y = 5

Printing combined text in two different ways:

In [43]:
print("a = 'DigiPen'")
a = 'DigiPen'
print("b = 'Dragons'")
b = 'Dragons'
print('a + b =', a + ' ' + b)   # add strings
print('a , b =', a, b)          # set of strings

a = 'DigiPen'
b = 'Dragons'
a + b = DigiPen Dragons
a , b = DigiPen Dragons

Convert number to string:

In [44]:
print(a + str(x))

DigiPen2

Convert string to number:

In [45]:
a = "7"
print(a)
print(type(a))
print(int(a))
print(type(int(a)))

7
<class 'str'>
7
<class 'int'>

#### Float
    - decimal numbers
    - range and precision

In [46]:
p = 3.14159265358
print(p)
print(type(p))

3.14159265358
<class 'float'>

In [47]:
type(12.345)

float

In [48]:
print(int(p))

3

#### Errors
    - TypeError
    - SyntaxError
    - NameError
    - ZeroDivisionError
    - Etc.

In [49]:
a = 'abc'
x = 42
a + x

TypeError: can only concatenate str (not "int") to str

In [50]:
print(a+x

SyntaxError: incomplete input (ipython-input-2762113399.py, line 1)

In [51]:
pint(a+x)

NameError: name 'pint' is not defined

In [52]:
42_myvar = 42

SyntaxError: invalid decimal literal (ipython-input-2925536577.py, line 1)

In [53]:
2/0

ZeroDivisionError: division by zero

#### Escape characters:
    \\    backslash       \
    
    \'    single quote    '
    
    \"    double quote    "
    
    \t    tab             a    b
    
    \n    new line        abc
                          defgh

In [54]:
print("'\\' is a single backslash")

'\' is a single backslash

In [55]:
print("single quote: \' \ndouble quote: \"")

single quote: '
double quote: "

# Functions
    - Syntax
    - Arguments and Default Arguments
    - Return value
### Syntax:



```
def functionname(param1, param2, ...):
    commands

```

#### Functions:

In [56]:
def hello():
    print("Hello Dragons!")
    print("Bye now ...")

In [57]:
# call the function hello(), it has no argument(s)
hello()

Hello Dragons!
Bye now ...

In [58]:
# create a function to add two numbers
def add2(x, y):
    print(x + y)

In [59]:
# call the function add2 providing two integers
add2(28,14)

42

In [60]:
# call the function add2 providing two floats
add2(27.4,14.6)

42.0

In [61]:
# create a function to divide two numbers
def div2(x, y):
    print(x/y)

In [62]:
div2(10,5)

2.0

### Arguments and Default Argument Values

#### Examples:

In [66]:
def big(text = "hurray!"):
    print(text.upper())

In [67]:
big("hurray")

HURRAY

In [68]:
big()

HURRAY!

In [69]:
def add2(x = 10, y = 100):
    return x + y

In [70]:
print(add2(5,6))
print(add2(5,))
print(add2())

11
105
110

Notes:
* we could supply specific value to x and y takes the default value
* the order of the default arguments are important:
    * There is no way to supply specific value to y but expect x to take the default value.

In [71]:
add2(3)

103

In [72]:
add2(,3)

SyntaxError: invalid syntax (ipython-input-2040789459.py, line 1)

Indeed, this is unexpected syntax

### Return value

In [73]:
def big(text = "hurray!"):
    print(text.upper())
    return "This text is the return value itself"

In [74]:
big()

HURRAY!

'This text is the return value itself'

In [75]:
def low_case(words_in):
    return words_in.lower()

In [76]:
words_lower = low_case("Return THIS lower")
print(words_lower)

return this lower

In [77]:
low_case("DigiPen")

'digipen'

# Conditional Statements

- if
- if, else
- if, elif, else
- if, elif, else, pass

###Conditionals

In [89]:
if True:
    print("Hello")

Hello

In [90]:
if not True:
    print("Hello!")
else:
    print("Hi!")

Hi!

In [91]:
if True:
    pass
else:
    print("The condition must have been 'False'")

In [92]:
if not True:
    pass
else:
    print("The condition must have been 'False'")

The condition must have been 'False'

In [93]:
if 2 * 2 == 5:
    print("2 * 2 = 5")
elif 2 * 2 == 4:
    print("2 * 2 = 4")
else:
    print("2 * 2 = not 4 or 5")

2 * 2 = 4

In [94]:
number_input = int(input("Enter a whole number, we'll check its parity: "))
if number_input % 2 == 0:
    print(number_input, "is even")
else:
    print(number_input, "is odd")

Enter a whole number, we'll check its parity: 3
3 is odd

In [95]:
text_input = input("Enter some text and we'll check on its case: ")
if text_input == text_input.lower():
    print(text_input, "is all lowercase")
else:
    print(text_input, "has non-lowercase character in it")

Enter some text and we'll check on its case: 43
43 is all lowercase

### Boolean
- True and False are Boolean variables
- A conditional statement evaluates to Boolean (either True or False)
- True and False also evaluates as 1 and 0

In [96]:
True + 0

1

In [97]:
True * False

0

### Casting
- Conversion from a data type to another
- Example 1: str to int
- Example 2: int to str
- Example 3: float to int
- input's output is always a str

In [98]:
pi = 3.14159265358
print(type(pi))

<class 'float'>

In [99]:
print(int(pi))
print(type(int(pi)))

3
<class 'int'>

In [100]:
int("1")

1

In [101]:
print(type("1"))
print(type(int("1")))

<class 'str'>
<class 'int'>

In [102]:
my_age = input("Enter age: ")
print("I'll be ", my_age + 10, "in 10 years")

Enter age: 50

TypeError: can only concatenate str (not "int") to str

Notice that trying to print: *some text*, *calculated number based on input*, *some text*

Lets fix this:

In [103]:
my_age = input("Enter age: ")
print("I'll be ", int(my_age) + 10, "in 10 years")

Enter age: 50
I'll be  60 in 10 years

### Nested Conditional Statements

In [108]:
number_multi30 = int(input("Enter a number: "))

Enter a number: 12

In [109]:
if number_multi30 % 2 == 0:
    print(number_multi30, "is even")
    if number_multi30 % 3 == 0:
        print(number_multi30, "is a multiple of 6")
        if number_multi30 % 5 == 0:
            print(number_multi30, "is a multiple of 30")
        else:
            print(number_multi30, "is not a multiple of 30")
    else:
        print(number_multi30, "is not a multiple of 6")
else:
    print(number_multi30, "is odd")

12 is even
12 is a multiple of 6
12 is not a multiple of 30

Try to input other numbers, for example: 12, 13, 30, 36, 120, ...

# Loops and Recursion
    - While
    - For
    - Recursion

#### While Loop
    Infinite Loop
    break
    Syntax
    Usage: when we want to repeat something until certain condition is true

In [ ]:
# this would be an infinite loop without adding a break:
while True:
    print(5)
    break

5

In [ ]:
mynumber = 16

In [ ]:
while mynumber >= 10:
    print(mynumber)
    mynumber -= 1

16
15
14
13
12
11
10

In [ ]:
# take input until it consist of digits only, breaks when if condition does not evaluate to True
while True:
    mydigit = input("Enter a non-negative whole number: ")
    if mydigit.isdigit():
        print(mydigit)
    else:
        print("You have not entered a non-negative whole number, it's over!")
        break

Enter a non-negative whole number: 4
4
Enter a non-negative whole number: 10
10
Enter a non-negative whole number: 55
55
Enter a non-negative whole number: 42
42
Enter a non-negative whole number: -2.57
You have not entered a non-negative whole number, it's over!

#### For Loop
    break
    Syntax
    Usage: when we want to repeat something a fixed number of times
#### Syntax:

for i in range(n):
    commands

More generally:
for value in collection:
    commands

In [ ]:
n = 4
for i in range(n):
    print(i)

0
1
2
3

In [ ]:
for i in range(2,5):
    print(i)

2
3
4

In [ ]:
for i in "DigiPen":
    print(i)

D
i
g
i
P
e
n


Gregory-Leibniz series:
 = (4/1) - (4/3) + (4/5) - (4/7) + (4/9) - (4/11) + (4/13) - (4/15) + ...

In [ ]:
mypi = 0
myrange = 100000
for i in range(10 * myrange):
    if (i % 2 == 0):
        #print(4*(1/(2*i+1)))
        mypi += 4*(1/(2*i+1))
    else:
        #print(-4*(1/(2*i+1)))
        mypi += -4*(1/(2*i+1))
# example for inefficient but working conditon
#    if (int(str(i)[0]) == 1):
#        if i - (10 ** (len(str(i))-1)) == 0:
#            print(mypi)

print(mypi)

3.1415916535897743

The commented section at the end showcases type casting back and forth between integer and string types. Printing interim values at every power of ten.

#### Recursion
    Recusrsive function: a function being defined is applied within its own definition.
#### Example:
Fibonacci series up to n (from https://www.python.org/)

Recursive: F=0, F=1, and F=F+F, for n > 1

    n      0 1 2 3 4 5 6  7  8  9 10 11  12 ...
    F(n)   0 1 1 2 3 5 8 13 21 34 55 89 144 ...

In [ ]:
# Fibonacci series up to m
def fib(m):
    a, b = 0, 1
    while a < m:
        print(a, end = ' ')
        a, b = b, a + b
    print()
fib(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987


Factorial of n: n!

Recursive: n! = n * (n-1)!

    n     0 1   2       3         4            5     ...
    n!    1 1 1*2=2 1*2*3=6 1*2*3*4=24 1*2*3*4*5=120 ...

In [111]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

In [116]:
print(factorial(0))
print(factorial(4))
print(factorial(5))
print(factorial(10))
print(factorial(100))

1
24
120
3628800
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000